{% extends "base.html" %}
{% block title %}Airport Operations Dashboard{% endblock %}
{% block content %}
<h2>Airport Operations Dashboard</h2>
<ul class="list-group w-50 mx-auto">
  <li class="list-group-item d-flex justify-content-between">
    <span>Total Flights Today:</span>
    <span>{{ dashboard.TotalFlightsToday }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Departed Flights:</span>
    <span>{{ dashboard.DepartedFlights }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Delayed Flights:</span>
    <span>{{ dashboard.DelayedFlights }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>New Bookings Today:</span>
    <span>{{ dashboard.BookingsToday }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total Passengers:</span>
    <span>{{ dashboard.TotalPassengers }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Ground Staff Count:</span>
    <span>{{ dashboard.GroundStaffCount }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Available Gates:</span>
    <span>{{ dashboard.AvailableGates }}</span>
  </li>
</ul>
{% endblock %}
